@font-face {
    font-family: "Montserrat";
    src: url('styles/assets/fonts/Montserrat-VariableFont_wght.ttf');
}

:root {
    --bg-color: #ffffff;
    --text-color: #333333;
    --border-color: #dddddd;
}

:root.dark-theme {
    --bg-color: #1a1a1a;
    --text-color: white;
    font-family: "Anton-Regular";
    src: url(' https://support.microsoft.com/en-us/help/314960/how-to-install-or-remove-a-font-in-windows');
}

body {
    margin: 0%;
    padding: 0px;
    margin: 0px;
    font-family: "Anton-Regular";
    font-size: large;
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: 0.3s;
}

header {
    box-shadow: 0px 12px 10px 1px rgba(0, 0, 0, 0.082);
}

.header {
    display: flex;
    justify-content: space-between;

    .logo {
        display: inline;


        img {
            width: 10vw;
        }
    }

    p, h2 {
        text-align: center;
        font-family: "Anton-Regular", sans-serif;  
        font-weight: 500;
        text-transform: uppercase;           
        letter-spacing: 1px;
    }

    .toggle_night_mode {
        display: flex;
        border: none;
        background: transparent;
        cursor: pointer;

        img {
            width: 3vw;

            &:hover {
                width: 3.1vw;
                transition: all 0.3s ease-in-out;
            }
        }
    }
}




main {
    margin: 3% 10%;
}

.introduction {
    h3 {
        text-align: center;
    }

    h4 {
        text-align: center;
    }

    p {
        text-align: justify;
    }
}

.card {
    margin: 10vh 0vh 0vh 0vh;
    
    h3 {
        text-align: center;
        font-family: "Anton-Regular", sans-serif;  
        font-weight: 600;
        text-transform: uppercase;
    }
}

.card-content {
    display: flex;
}

.card-image {
    flex: 1 1 50%;
    
    img {
        max-width: 80%;
        height: auto;
    }
}

.card-parametrs {
    margin-top: 5vh;
}

.card-parametrs > * {
    display: flex;
    justify-content: space-between;
    column-gap: 10vh;
    font-family: "Anton-Regular", sans-serif;  
    font-weight: 500;
    font-size: 1.1rem;
}